/* Smartphone portrait */
@media only screen and (max-width:320px) {

  html {
   background-image: none;
  }
  body.sport-surf #header-wrapper,
  body.sport-bike #header-wrapper,
  body.sport-skate #header-wrapper,
  body.sport-snow #header-wrapper,
  body.sport-boat #header-wrapper,
  body.sport-golf #header-wrapper,
  body.sport-disc #header-wrapper,
  body.sport-climb #header-wrapper,
  body.sport-help #header-wrapper,
  #header-wrapper  {
    background: -moz-linear-gradient(top,  rgba(124,11,13,1) 0%, rgba(196,16,22,1) 75%, rgba(236,28,36,0.9) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,11,13,1)), color-stop(75%,rgba(196,16,22,1)), color-stop(100%,rgba(236,28,36,0.9)));
    background: -webkit-linear-gradient(top,  rgba(124,11,13,1) 0%,rgba(196,16,22,1) 75%,rgba(236,28,36,0.9) 100%);
    background: -o-linear-gradient(top,  rgba(124,11,13,1) 0%,rgba(196,16,22,1) 75%,rgba(236,28,36,0.9) 100%);
    background: -ms-linear-gradient(top,  rgba(124,11,13,1) 0%,rgba(196,16,22,1) 75%,rgba(236,28,36,0.9) 100%);
    background: linear-gradient(top,  rgba(124,11,13,1) 0%,rgba(196,16,22,1) 75%,rgba(236,28,36,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c0b0d', endColorstr='#e6ec1c24',GradientType=0 );
    border: none;
    min-height: 60px;
   }

   #branding {
     margin: 0;
   }


   #main-content {
     padding: 0;
   }
   
   #content-wrapper {
     border-bottom: none;
     border-top: none;
     padding-top: 0 !important;
   }
   
   header h1#page-title {
     display: none;
   }
   

    
    section#block-views-active-deals-global-deal-block img, 
    section#block-views-gozulla-directory-featured-shop img,
    section#block-views-active-deals-block-1 img {
      float: right;
      margin-bottom: 1em;
      margin-left: 1em;
    }
    
    
    #block-menu-menu-sport-links {
      font-size: 1em;
    }
    
    #main-content {
      margin: 0;
      padding: 0;
    }

    #content {
      margin: 0;
    } 
    
   #block-menu-menu-sport-links.block div.block-inner {
     margin: 0;
   }
    
    
    #block-menu-menu-sport-links.block-menu-sport-links {
      margin: 0;
      padding: 0;
    }
    
    #block-menu-menu-sport-links {
      width: 100%;
      background-color: #E0E0E0;
      background-image: -moz-linear-gradient(-90deg, #E0E0E0, #EBEBEB);
    }
    
}

/* Smartphone landscape */
@media only screen and (min-width:321px) and (max-width:480px) {


html {
 background-image: none;
}
body.sport-surf #header-wrapper,
body.sport-bike #header-wrapper,
body.sport-skate #header-wrapper,
body.sport-snow #header-wrapper,
body.sport-boat #header-wrapper,
body.sport-golf #header-wrapper,
body.sport-disc #header-wrapper,
body.sport-climb #header-wrapper,
body.sport-help #header-wrapper,
#header-wrapper  {
  background: -moz-linear-gradient(top,  rgba(124,11,13,1) 0%, rgba(196,16,22,1) 75%, rgba(236,28,36,0.9) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,11,13,1)), color-stop(75%,rgba(196,16,22,1)), color-stop(100%,rgba(236,28,36,0.9)));
  background: -webkit-linear-gradient(top,  rgba(124,11,13,1) 0%,rgba(196,16,22,1) 75%,rgba(236,28,36,0.9) 100%);
  background: -o-linear-gradient(top,  rgba(124,11,13,1) 0%,rgba(196,16,22,1) 75%,rgba(236,28,36,0.9) 100%);
  background: -ms-linear-gradient(top,  rgba(124,11,13,1) 0%,rgba(196,16,22,1) 75%,rgba(236,28,36,0.9) 100%);
  background: linear-gradient(top,  rgba(124,11,13,1) 0%,rgba(196,16,22,1) 75%,rgba(236,28,36,0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c0b0d', endColorstr='#e6ec1c24',GradientType=0 );
  border: none;
  min-height: 60px;
 }
 
 #branding {
   margin: 0;
 }
 
 #main-content {
   padding: 0;
 }
 
 #content-wrapper {
   border-bottom: none;
   border-top: none;
   padding-top: 0 !important;
 }

 header h1#page-title {
   display: none;
 }
 


  section#block-views-active-deals-global-deal-block img, 
  section#block-views-gozulla-directory-featured-shop img,
  section#block-views-active-deals-block-1 img {
    float: right;
    margin-bottom: 1em;
    margin-left: 1em;
  }
  
  #main-content {
    padding: 0;
    margin: 0;
  }
  
  #content {
    margin: 0;
  }
  
  #block-menu-menu-sport-links.block div.block-inner {
    margin: 0;
    font-size: 1em;
  }
  
 
  
  #block-menu-menu-sport-links {
    
    margin: 0;
    padding: 0;
  }
  
  #block-menu-menu-sport-links {
    width: 100%;
    background-color: #E0E0E0;
    background-image: -moz-linear-gradient(-90deg, #E0E0E0, #EBEBEB);
  }
  

}

/* Tablet portrait */
@media only screen and (min-width:481px) and (max-width:768px) {
}

/* Tablet landscape */
@media only screen and (min-width:769px) and (max-width:1024px) {
}

/* Standard layout */
@media only screen and (min-width:1025px) {
}