/* Smartphone portrait */
@media only screen and (max-width:320px) {

  html {
   background-image: none;
  }
  body.sport-surf #header-wrapper,
  body.sport-bike #header-wrapper,
  body.sport-skate #header-wrapper,
  body.sport-snow #header-wrapper,
  body.sport-boat #header-wrapper,
  body.sport-golf #header-wrapper,
  body.sport-disc #header-wrapper,
  body.sport-climb #header-wrapper,
  body.sport-help #header-wrapper,
  #header-wrapper  {
    background: -moz-linear-gradient(top,  rgba(124,11,13,1) 0%, rgba(196,16,22,1) 75%, rgba(236,28,36,0.9) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,11,13,1)), color-stop(75%,rgba(196,16,22,1)), color-stop(100%,rgba(236,28,36,0.9)));
    background: -webkit-linear-gradient(top,  rgba(124,11,13,1) 0%,rgba(196,16,22,1) 75%,rgba(236,28,36,0.9) 100%);
    background: -o-linear-gradient(top,  rgba(124,11,13,1) 0%,rgba(196,16,22,1) 75%,rgba(236,28,36,0.9) 100%);
    background: -ms-linear-gradient(top,  rgba(124,11,13,1) 0%,rgba(196,16,22,1) 75%,rgba(236,28,36,0.9) 100%);
    background: linear-gradient(top,  rgba(124,11,13,1) 0%,rgba(196,16,22,1) 75%,rgba(236,28,36,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c0b0d', endColorstr='#e6ec1c24',GradientType=0 );
    border: none;
    min-height: 60px;
   }



   #main-content {
     padding: 0;
   }

   fieldset#edit-circle.openlayers-proximity-filter-exposed {
    width: 260px;
    }

}

/* Smartphone landscape */
@media only screen and (min-width:321px) and (max-width:480px) {


html {
 background-image: none;
}
body.sport-surf #header-wrapper,
body.sport-bike #header-wrapper,
body.sport-skate #header-wrapper,
body.sport-snow #header-wrapper,
body.sport-boat #header-wrapper,
body.sport-golf #header-wrapper,
body.sport-disc #header-wrapper,
body.sport-climb #header-wrapper,
body.sport-help #header-wrapper,
#header-wrapper  {
  background: -moz-linear-gradient(top,  rgba(124,11,13,1) 0%, rgba(196,16,22,1) 75%, rgba(236,28,36,0.9) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,11,13,1)), color-stop(75%,rgba(196,16,22,1)), color-stop(100%,rgba(236,28,36,0.9)));
  background: -webkit-linear-gradient(top,  rgba(124,11,13,1) 0%,rgba(196,16,22,1) 75%,rgba(236,28,36,0.9) 100%);
  background: -o-linear-gradient(top,  rgba(124,11,13,1) 0%,rgba(196,16,22,1) 75%,rgba(236,28,36,0.9) 100%);
  background: -ms-linear-gradient(top,  rgba(124,11,13,1) 0%,rgba(196,16,22,1) 75%,rgba(236,28,36,0.9) 100%);
  background: linear-gradient(top,  rgba(124,11,13,1) 0%,rgba(196,16,22,1) 75%,rgba(236,28,36,0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c0b0d', endColorstr='#e6ec1c24',GradientType=0 );
  border: none;
  min-height: 60px;
 }
 

 
 #main-content {
   padding: 0;
 }
 
 fieldset#edit-circle.openlayers-proximity-filter-exposed {
  width: 300px;
  }
 
}

/* Tablet portrait */
@media only screen and (min-width:481px) and (max-width:768px) {
}

/* Tablet landscape */
@media only screen and (min-width:769px) and (max-width:1024px) {
}

/* Standard layout */
@media only screen and (min-width:1025px) {
}