/**
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */

/* Some basic examples of cascading media queries. */

/* Really small screens and up 
@media only screen and (min-width: 220px) {
}
*/

/* Smartphone sizes and up 
@media only screen and (min-width: 320px) {
}
*/

/* Smartphone sizes and down */
@media only screen and (max-width: 480px) {
  
  /*
    Float Region blocks example:
    In smaller screen sizes we can remove the float and widths so all blocks
    stack instead of displaying horizonally. The selector used here is an
    "attribute selector" which will match on any float block class. Use your
    inspector or Firebug to get the classes from the page output if you need
    more granular control over block alignment and stacking.
    
    "Float Region blocks" is an extension for floating blocks in regions, see
    your themes appearance settings, under the Extensions tab.
  */
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }

  #header-wrapper {
    background: #ffffff url('../images/goz_gray_bg.png') repeat-x;
    min-height: 75px;
    max-height: 104px;
    border-bottom: 1px solid #ababab;
    padding-bottom: 0;
    margin: 0;
  }


  body.html div#page-wrapper div#page.page div#header-wrapper {
    background: #f1f1f1;
    border-bottom: 1px solid #ababab;
    padding-bottom: 0;
    margin: 0;
  }

  #logo {
    width: 150px;
    max-height: 75px;
  }

  #menu-wrapper {
    background: #ffffff;
    min-height: 10px;
    max-height: 28px;
    padding: 0 10px;
    margin: 0 -10px;
    border-top: 1px solid #ababab;
  }

  h1#page-title {
    display: none;
    visibility: hidden;
  }

  input.form-text {
    font-size: 93.8%;
  }

  #main-content, .block-inner, .pane-inner, .breadcrumb-wrapper, .attribution {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 93.8%;
  }

  #content .panel-display, #content .panel-flexible {
    margin-left: -10px;
    margin-right: -10px;
  }

  nav#block-system-main-menu {
    font-size: 75%;
  }

  nav#block-system-main-menu.block ul.menu li a {
    padding: 5px;
  }

  nav#block-system-main-menu.block ul.menu li.first a {
    padding-left: 0;
  }

  nav#block-system-main-menu.block ul.menu li.last a {
    padding-right: 0;
  }

}

/* Tablet sizes and up */
@media only screen and (min-width: 768px) {
  
  
}


/*  #menu-bar.nav nav ul li a {
    padding: 10px 4px;
  }*/

@media only screen and (min-width:769px) and (max-width:1024px) {

  #columns {
    background-image: url('../images/bg_vertical_border.png');
    background-attachment: inherit;
    background-repeat: repeat-y;
    background-position: 80% 0;
  }

}



@media only screen and (min-width: 1025px) {
  
  #columns {
    background-image: url('../images/bg_vertical_border.png');
    background-attachment: inherit;
    background-repeat: repeat-y;
    background-position: 75% 0;
  }

  .at-panel .region-two-50-second {
    background-image: url('../images/bg_vertical_border.png');
    background-attachment: inherit;
    background-repeat: repeat-y;
    background-position: 0 0;
  }

}
