
/* Clean file for your awesome overrides, enable in the info file to use. */

/* draw/toggle overrides */
html.js #toggle-wrapper {
  background: #555555;
}

#toggle-wrapper {
  border-top: none;
}

#draw-wrapper .add-shop-block  {
  margin-bottom: 1em;
}

#draw-wrapper .add-shop-block a,
#draw-wrapper .add-shop-block a:link {
  text-decoration: none;
  background-color: #ccc;
  color: #3B3B3B;
  padding: 2px 10px 4px 10px;
}

#draw-wrapper .add-shop-block a:hover {
 text-decoration: none;
  background-color: #fff;
  color: #3B3B3B;
  padding: 2px 10px 4px 10px;
}

/* Toggle Draw */
.region-draw {
  padding: 25px 20px 0;
 }

.region-draw a:hover,
.region-draw a:focus {
  text-decoration: underline;
}

.region-draw .block {
  float: left;
  display: inline-block;
  min-width: 25%;
  max-width: 50%;
}
 
#toggle-wrapper a {
  display: block;
  padding: 5px 10px 5px 40px;
  font-size: 0.875em;
  outline: 0;
  background: #555555 url('../images/gray_arrow.png') no-repeat;
  background-position: 10px; 
  color: #f5f5f5;
}

#toggle-wrapper a.active,
#toggle-wrapper a:hover {
  display: block;
  padding: 5px 10px 5px 40px;
  font-size: 0.875em;
  outline: 0;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  background: #555555 url('../images/gray_arrow.png') no-repeat top left;
  background-position: 10px; 
  text-decoration: underline;
}


/* Site Header */
body.sport-bike #header-wrapper,
body.page-deals-bike #header-wrapper {
  background: #ffffff url('../images/goz_smbg_bike.jpg') no-repeat scroll top center;
}
  
body.sport-boat #header-wrapper,
body.page-deals-boat #header-wrapper {
    background: #ffffff url('../images/goz_smbg_boat.jpg') no-repeat scroll top center;
  }

body.sport-climb #header-wrapper,
body.page-deals-climb #header-wrapper {
  background: #ffffff url('../images/goz_smbg_climb.jpg') no-repeat scroll top center;
} 

body.sport-golf #header-wrapper,
body.page-deals-golf #header-wrapper {
  background: #ffffff url('../images/goz_smbg_golf.jpg') no-repeat scroll top center;
}
  
body.sport-skate #header-wrapper,
body.page-deals-skate #header-wrapper {
  background: #ffffff url('../images/goz_smbg_skate.jpg') no-repeat scroll top center;
}
 
body.sport-snow #header-wrapper,
body.page-deals-snow #header-wrapper {
  background: #ffffff url('../images/goz_smbg_snow.jpg') no-repeat scroll top center;
}
  
body.sport-surf #header-wrapper,
body.page-deals-surf #header-wrapper {
  background: #ffffff url('../images/goz_smbg_surf.jpg') no-repeat scroll top center;
}
 
body.sport-help #header-wrapper {
  background: #ffffff url('../images/goz_smbg_help.jpg') no-repeat scroll top center;
}

body.page-lodging #header-wrapper {
  background: #ffffff url('../images/goz_smbg_home.jpg') no-repeat scroll top center;
}
  
body.section-home #header-wrapper {
  background: #ffffff url('../images/goz_gray_bg.png') repeat-x;
  min-height: 130px;
  border-bottom: 1px solid #ababab;
  padding-bottom: 0;
  margin: 0;
}

#header-wrapper {
  background: #ffffff url('../images/goz_smbg_home5.jpg') repeat-x;
  min-height: 130px;
  border-bottom: 1px solid #ababab;
  padding-bottom: 0;
  margin: 0;
}

#branding {
  margin: 0;
}

#logo {
  margin-top: 0;
  padding-top: 0;
}

#branding.with-logo.site-name-hidden.with-site-slogan hgroup,
#branding.with-logo.site-name-hidden.with-site-slogan hgroup #site-slogan {
  float: none;
  display: block;
  clear: both;
  padding: 0;
}

#branding.with-logo.site-name-hidden.with-site-slogan hgroup #site-slogan {
  padding-top: 0;
}

#menu-wrapper {
  top: 0;
  min-height: 2.5em;
  clear: both;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  border-bottom: none;
  border-top: none;
}

#menu-bar {
  background: transparent;
}

/*#menu-bar nav ul li a {
  font-weight: 400;
  padding: 10px;
}*/

/*.nav .block-menu ul a {
    display: block;
    padding: 10px;
    text-decoration: none;
}*/

#menu-bar.nav nav ul li a {
  color: #3b3b3b;
}

#menu-bar.nav nav ul li a.active,
#menu-bar.nav nav ul li a:hover {
  color: #FF0018;
}

/* Wrapper white space */
#secondary-content-wrapper .texture-overlay {
  padding-top: 4em;
  padding-bottom: 30px;
}

#content-wrapper {
  border-bottom: 1px solid #ababab;
  border-top: none;
  margin-top: 0;
}

/*#content-wrapper {
  padding-top: 20px;
  padding-bottom: 30px;
}*/

#content-wrapper.no-secondary {
  padding-top: 0;
  margin-top: 0;
}

#main-content, 
.block-inner, 
.pane-inner, 
/*.menu-wrapper, */
/*.branding-elements,*/ 
.breadcrumb-wrapper, 
.attribution, 
.at-panel 
.rounded-corner, 
.block-panels-mini > .block-title, 
div.messages {
  margin-left: 20px;
  margin-right: 20px;
}

div#block-nodesinblock-0.block-nodesinblock div.block-inner {
  margin-left: 10px;
  margin-right: 10px;
}

#content .panel-display, #content .panel-flexible {
  margin-left: -20px;
  margin-right: -20px;
}

.sidebar .block-title {
  /*padding-top: 10px;*/
}
#tertiary-content-wrapper {
  padding: 20px 0 0;
}

#secondary-content-wrapper .region-secondary-content,
#tertiary-content-wrapper .region-tertiary-content {
  margin-left: 40px;
  margin-right: 40px;
}

#quint-panels-wrapper {
  padding: 30px 0 20px;
}

#footer-panels-wrapper {
  padding: 30px 0 15px;
}

#footer-wrapper {
  padding: 20px 0 15px;
}


.section-home .block {
  margin-bottom: 0;
}


#article-3241.node,
#article-3241.node div.node-content {
  margin-bottom: 0;
  padding: 0;
}




 div.view-display-id-geofield_map {
   float: right;
   width: 50%;
 }

 #main-content .addressfield-container-inline:after {
     clear: none;  
 }

 /*div.article-content section.clearfix:after,
 div.views-field-nothing span.clearfix:after {
   clear: left;
 }*/

 div.article-content div.field.field-name-field-location-logo {
   margin-top: -75px;
   border: none;
 }

 div.article-content div.field div.field-items figure.field.field-type-image figure {
   border: none;
 }

 #header,
 #header .header-inner {
   background-image: none;
   background-color: transparent;
   margin: 0;
   padding: 0;
 }

 /* adds border to map */

 div .geofieldMap {
   border: 1px solid #ababab;
   margin-top: 25px;
 }



 div.views-field-edit-node {
   float: right;
 }
 
 #columns div.columns-inner {
 	border-top: none;
 	border-right: 1px solid #ababab;
 	border-bottom: 1px solid #ababab;
  border-left: 1px solid #ababab;
 }

 header.node-header h1.node-title {
  padding-top: 10px;
 }
 
/* .section-home div.at-panel,
 div.region-two-50-second {
   background: url('../images/bg_header_333.png') repeat-x top left;
 }*/


/* .section-home div.at-panel {
   border-top: 1px solid #ababab;
   background: url('../images/bg_header_333.png') repeat-x top left;
  }*/
 



 fieldset#edit-circle.openlayers-proximity-filter-exposed {
  padding: 10px 0 0 0;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-size: 0.75em;
 }
 
 .views-exposed-form .views-exposed-widget {
   display: inline-block;
   margin: 0;
   padding: 0;
 }
 
 .views-exposed-form .views-exposed-widget .form-submit {
   padding: 0;
   margin: 16px 0 0 0;
 }
 
.form-item-circle-value input#edit-circle-value.form-text {
  text-align: center;
  width: 20px;
  padding: 4px 2px;
}

.form-item input#edit-circle-location.form-text {
  padding: 4px 2px;
}
/*
.itrc-4 input.form-text, .isrc-4 input.form-submit {
  border: none;
  background-color: #F2F2F2;
}*/


div.view-gozulla-directory .addressfield-container-inline:after {
    clear: none;
}

#block-views-active-deals-global-deal-block,
#block-views-gozulla-directory-featured-shop,
section#block-block-6.block,
section#block-views-feed-display-block-1 {
  /* background-color: rgba(255,255,255, .8);*/
   /*background: transparent url('../images/bg_header_333.png') repeat-x top left;*/
   /*background-color: #fff;*/
   margin-top: 0;
   margin-bottom: 20px;
   padding: 0;
 }

body.section-home #block-views-active-deals-global-deal-block,
body.section-home #block-views-gozulla-directory-featured-shop {
  /*min-height: 200px;*/
}

/*section#block-views-feed-display-block-1 .view view-feed-display {
  font-size: 0.833em;
}*/

 
section#block-views-feed-display-block-1 a {
  font-size: 0.833em;
  font-weight: bold;
}

section#block-views-feed-display-block-1 .views-field-field-sport-feed-description {
  font-size: 0.833em;
}

section#block-views-feed-display-block-1.block div.views-row  {
  clear: both;
  margin-bottom: 0.5em;
}

section#block-views-feed-display-block-1.block  a img {
  float: left;
  margin: 5px 10px 20px 0;
}*/
 
/*div.two-50 h2.block-title,
section#block-block-6.block div.block-inner h2.block-title,
section#block-views-feed-display-block-1  h2.block-title {
  color: #2C2C2C;
  margin-bottom: 20px;
  text-transform: lowercase;
}

section#block-block-6.block div.block-inner,
section#block-views-feed-display-block-1 div.block-inner {
  padding: 0;
}*/

section#block-views-feed-display-block-1.block  a img {
  float: right;
  margin: 0 0 20px 10px;
}

section#block-views-active-deals-global-deal-block .view-display-id-global_deal_block,
section#block-views-gozulla-directory-featured-shop .view-display-id-featured_shop {
  margin-bottom: 2.5em;
}

/*#page-footer {
  padding: 0;
  margin: 0;
  background: #7F7F7F;
  font-size: 0.75em;
}

#footer-panels-wrapper {
  padding: 0;
  margin: 0;
}

nav#block-menu-menu-footer-menu.block {
  margin-bottom: 0;
  padding: 3px 0 6px 0;
}*/

div.field-content span.country {
  display: none;
}

/*.view-id-gozulla_directory div.views-exposed-widgets {
   border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.07) inset;
    padding: 0;
    margin: 0;
}*/


fieldset#edit-circle {
  box-shadow: none;
}

#block-menu-menu-sport-links.block {
  margin: 0 -10px 10px -10px;
  font-size: 1em;
}
  
#block-menu-menu-sport-links.block div.block-inner {
  margin: 0;
}
  


#block-menu-menu-sport-links {
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-top: 1px solid #CCC;
}




/* add tabs to the mobile sports menu */
#block-menu-menu-sport-links ul.menu li a {
  float: left;
  font-size: 0.75em;
  color: #3b3b3b;
  border-right: 1px solid #ababab;
  /*border-bottom: 1px solid #ababab;*/
  padding: 8px;
  list-style-image: none;
  list-style-type: none;
}

/* makes categories highlighted when on specific pages */
body.page-deals-surf #block-menu-menu-sport-links.block ul.menu li.menu-item-1249 a,
body.page-deals-skate #block-menu-menu-sport-links.block ul.menu li.menu-item-1250 a,
body.page-deals-snow #block-menu-menu-sport-links.block ul.menu li.menu-item-1251 a,
body.page-deals-bike #block-menu-menu-sport-links.block ul.menu li.menu-item-1252 a,
body.page-deals-climb #block-menu-menu-sport-links.block ul.menu li.menu-item-1253 a,
body.page-deals-boat #block-menu-menu-sport-links.block ul.menu li.menu-item-1254 a,
body.page-deals-golf #block-menu-menu-sport-links.block ul.menu li.menu-item-1255 a,
body.page-deals-bike #block-system-main-menu ul li.menu-item-896 a,
body.page-deals-boat #block-system-main-menu ul li.menu-item-897 a,
body.page-deals-climb #block-system-main-menu ul li.menu-item-895 a,
body.page-deals-golf #block-system-main-menu ul li.menu-item-898 a,
body.page-deals-skate #block-system-main-menu ul li.menu-item-892 a,
body.page-deals-snow #block-system-main-menu ul li.menu-item-893 a,
body.page-deals-surf #block-system-main-menu ul li.menu-item-891 a,
body.page-node-2516 #block-system-main-menu ul li.menu-item-845 a   {
  color: #ff0018;
  background: #ffffff;
  border-top: none;
  border-bottom: none;
}

section#block-views-active-deals-global-deal-block img, 
section#block-views-gozulla-directory-featured-shop img,
section#block-views-active-deals-block-1 img {
  float: right;
  margin-bottom: 15px;
  margin-right: 15px;
}

#block-menu-menu-footer-menu ul li {
  margin: 0 1em;
  float: left;
  display: inline-block;
}

div.views-field h3.field-content {
  font-size: 1.2em;
  max-width: 75%;
}

div.views-field-field-address {
  font-size: 0.8em;
}

div.views-field-distance {
  font-size: 0.8em;
  text-align: right;
  margin-top: -1.5em;
}

h3.places-shop {
  margin-top: 0.5em;
  color: #262626;
  font-size: 1.2em;
}

div.places-detail {
  color: #8C8C8C;
  font-size: 0.75em;
}

div.places-distance {
  font-size: 0.75em;
  text-align: right;
  margin-top: -1.5em;
}


.block .gozulla-directory  div.views-row-first {
  border-top: 1px solid #ababab;
  margin-top: 10px;
  padding-top: 10px;
}

.gozulla-directory  div.views-row {
  background: #f1f1f1;
  padding: 10px 20px;
  margin: 0 -19px 0 -20px;
  border-bottom: 1px solid #ababab;
}

/*.view-display-id-deals_by_sport div.views-row {
  background: transparent;
  padding: 0;
  margin: 0;
  border-bottom: 0;
}*/


div.places-row {
  padding: 0 20px 10px;
  margin: -10px -20px 0;
  border-bottom: 1px solid #ababab;
}

div.deal-link {
  background-color: transparent;
  border: 1px solid #ababab;
  border-radius: 4px 4px 4px 4px;
  margin-top: -1.5em;
  padding: 2px 6px;
  width: 3em;
  font-size: 0.75em;
  float: right;
}

div.block--exp-gozulla-directory-bike div.views-exposed-widgets,
div.block--exp-gozulla-directory-boat div.views-exposed-widgets,
div.block--exp-gozulla-directory-climb div.views-exposed-widgets,
div.block--exp-gozulla-directory-golf div.views-exposed-widgets,
div.block--exp-gozulla-directory-skate div.views-exposed-widgets,
div.block--exp-gozulla-directory-snow div.views-exposed-widgets,
div.block--exp-gozulla-directory-surf div.views-exposed-widgets,
div.view-gozulla-directory div.views-exposed-widgets {
  white-space: nowrap;
}

div.view-gozulla-directory .views-submit-button {
  float: none;
}


/*div.region-sidebar-second .region-inner {
  border-left: 1px solid #ababab;
}*/

div.copyright {
  display: inline;
  margin-left: 20px;
  font-size: .75em;
}

div.views-field-field-ad-image {
  text-align: center;
}

div.client-ad  div.views-row {
  margin-bottom: 10px;
}

div.gozulla-ad  div.views-row.views-row-first {
  padding-top: 20px;
  margin-bottom: -10px;
}

#quint-panels-wrapper  {
  margin-bottom: -10px !important;
  padding-top: 10px !important;
  padding-bottom: 0 !important;
}

div.at-panel.five-5x20 {
  background: none;
  border: none;
}

#block-menu-menu-footer-menu a {
  font-size: 0.75em;
}

#block-menu-menu-footer-menu.block {
  margin: 0;
  padding: 0;
}

#block-easy-social-easy-social-block-1.block {
  float: right;
}

/* nifty code from Aaron */
#deal-wrapper {
  width: 545px; /* Arbitrary width of the coupon */
  height: 320px; /* Arbitrary height of the coupon */
  border: 3px dashed #e6e6e6;
  position: relative;
}

#deal-background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; If you can't predict the height of your coupon, don't define this property to avoid skewing image */
  z-index: 1;

}
  
#deal-contents {
  position: relative;
  padding-top: 125px ;
  z-index: 2;
  font-size: 85%;
}

/*article.node-deal {
  background: #e6e6e6 url('../images/bg_deal_525x270.png') no-repeat top center;
  width: 525px;
  padding: 125px 0 0 0;
  border: 2px dashed #ababab;
}*/

#block-system-main.block .node-deal {
  margin: 20px 0 0;
}

form#send-to-printer {
  text-align: right;
}

article.node-deal div.at-panel {
  padding: 0 40px;
}

article.node-deal div.at-panel div.region-two-50-first div.region-inner {
  border: none;
}

article.node-deal div.deal-expire {
  text-align: center;
  padding-top: 20px;
  font-style: italic;
  font-size: 70%;
}

.shop-detail .shop-name,
.deal-title {
  font-weight: bold;
  font-size: 125%
}

.shop-detail .views-field-field-phone {
  margin-top: 10px;
}

.shop-detail .shop-url a {
  color: #111111;
}

div.gozulla-directory div.view-header,
#common-links-container {
  display: inline;
}

div.gozulla-directory div.view-header { 
  margin-bottom: 20px;
}

#common-links-container .common-links,
#findme {
  font-weight: 600;
}

/*section#block-views-feed-display-block-1 .view-feed-display {
  font-size: 0.833em;
}

 
section#block-views-feed-display-block-1 a {
  font-size: 0.833em;
  font-weight: bold;
}

section#block-views-feed-display-block-1 .views-field-field-sport-feed-description {
  font-size: 0.833em;
}

section#block-views-feed-display-block-1.block div.views-row  {
  clear: both;
  margin-bottom: 0.5em;
}

section#block-views-feed-display-block-1.block  a img {
  float: left;
  margin: 5px 10px 20px 0;
}*/

#block-views-exp-gozulla-directory-bike.block,
#block-views-exp-gozulla-directory-boat.block,
#block-views-exp-gozulla-directory-climb.block,
#block-views-exp-gozulla-directory-golf.block,
#block-views-exp-gozulla-directory-skate.block,
#block-views-exp-gozulla-directory-snow.block,
#block-views-exp-gozulla-directory-surf.block,
#block-views-exp-gozulla-directory-lodging.block,
.block .gozulla-directory .view-header {
  margin-bottom: 0;
}

#common-links-container a,
#block-menu-menu-footer-menu a {
  color: #3b3b3b;
}

#common-links-container a:hover,
#common-links-container a:active,
#block-menu-menu-footer-menu a:hover,
#block-menu-menu-footer-menu a:active
 {
  color: #ff0018;
}

body.sport-bike a#shops-link,
body.sport-boat a#shops-link,
body.sport-climb a#shops-link,
body.sport-golf a#shops-link,
body.sport-skate a#shops-link,
body.sport-snow a#shops-link,
body.sport-surf a#shops-link,
body.page-deals a#deals-link,
body.page-deals a#deals-link,
body.page-deals a#deals-link,
body.page-deals a#deals-link,
body.page-deals a#deals-link,
body.page-deals a#deals-link,
body.page-deals a#deals-link,
body.page-lodging a#lodging-link {
  color: #ff0018;
}

/*#block-views-active-deals-global-deal-block,
#block-views-gozulla-directory-featured-shop,
section#block-block-6.block,
section#block-views-feed-display-block-1,
section#block-views-gozulla-ads-help-climb.block {
   background: transparent url('../images/bg_header_f1f1f1_32x35.png') repeat-x top left;
   margin-top: 0;
   margin-bottom: 20px;
   padding: 0 20px;
   min-height: 400px;
 }*/

/*.region-sidebar-second .clearfix {
  margin-left: 0;
  margin-right: 0;
}*/

body.section-home .two-50 {
  border-top: 1px solid #ababab;
}

body.section-home .at-panel .region-two-50-second {
    background-image: url('../images/bg_vertical_border.png');
    background-attachment: inherit;
    background-repeat: repeat-y;
    background-position: 0 0;
  }

.block-inner h2.block-title {
  background: #f1f1f1;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

.block-region-sidebar-second .block-inner h2.block-title {
  background: #f1f1f1;
  margin-left: -19px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

.region-two-50-second .block-inner h2.block-title {
  background: #f1f1f1;
  margin-left: -19px;
  margin-right: -19px;
  padding-left: 20px;
  padding-right: 20px;
}

/*.at-panel .region-two-50-second {
  background-image: url('../images/bg_vertical_border.png');
  background-attachment: inherit;
  background-repeat: repeat-y;
  background-position: 0 0;
  border-left: 1px solid #f1f1f1;
}*/

.view-social-network ul li {
  list-style: none;
  display: inline-block;
}

img.image-style-detail-thumbnail {
  float: right;   
}

.view-business-content-links table caption {
  text-align: left;
  font-size: 1.2em;
  text-transform: uppercase;
}

/*section#block-views-feed-display-combined-feed.block div.views-field div.field-content a img {
  float: right;
  margin: 0 0 15px 15px;
}*/



#block-views-feed-display-combined-feed {
  font-size: 85%;
}

#block-views-feed-display-combined-feed div.item-list ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#block-views-feed-display-combined-feed div.item-list ul li {
  padding: 5px 0;
  border-bottom: 1px dotted #b9b9b9;
}

#block-views-feed-display-combined-feed div.item-list ul li a {
  color: #3b3b3b;
}

#block-views-feed-display-combined-feed div.item-list ul li a:hover,
#block-views-feed-display-combined-feed div.item-list ul li a:focus {
  color: #ff0018;
}

#block-views-social-network-block.block {
  margin-top: 20px;
}

div.view-display-id-client_ad div.views-row.views-row-first {
  padding-top: 0;
}

.debug-view {
  color: #ff0018 !important;
}



/*flexslider overrides*/
.flexslider {
  background: transparent;
  border: none;
  border-radius: none;
  box-shadow: none;
  margin: 0;
}

#block-views-focus-slide-block-1.block div.block-inner {
  margin: 0;
}



